.App {
  text-align: center;
 
}
.label{
  color:red;
  font-size: 30px;
}
.signup_form{
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.signup_form input{
  height: 40px;
  border-radius: 10px;
  color: black;
  background-color: rgb(86, 78, 78);
}
.signup_form input:hover{
 background-color: rgb(255, 255, 255);
}

.signup_flex{
  display: flex;
  justify-content: space-around;
}
.signup_component{
  
  background-image:url(https://cdn.wallpapersafari.com/24/74/zgeTuV.jpg);
  background-color: rgb(96, 80, 80);
}